@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  min-height: 100vh;

  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  align-items: center;
}

.button {
  background: transparent;
  padding: 0.1em 0.2em;
  margin-left: 1em;
  border: none;
  cursor: pointer;

  transition: transform 0.5s ease;
}

.button.active {
  transform: rotateZ(180deg);
}

.card {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 87.2%;
  max-width: 920px;
  margin: 0 auto;
  background-color: white;
  border-radius: 22px;

  box-shadow: 0px 33px 32px -20px rgba(0, 0, 0, 0.28);
  position: relative;
}

.image__section__desktop {
  flex-basis: 50%;
}

.image__section__mobile {
  display: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#img__pattern {
  position: absolute;
  left: 0;
  top: 50%;
  width: 234.5%;

  transform: translate3d(-60%, -57.5%, 0);
}

#woman__desktop {
  position: absolute;
  left: 0;
  top: 50%;
  width: 114.6%;
  /*-38%*/
  z-index: 1;
  transform: translate3d(-19%, -50%, 0);
}

#box__desk {
  position: absolute;
  left: 0;
  top: 50%;

  width: 20.76%;

  z-index: 1;
  transform: translate3d(-49%, -22%, 0);
}

.accordion {
  flex-basis: 50%;
  padding: 6.25em 7.92em 6.25em 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.5em;
}

.accordion__item {
  padding: 1.42em 1.25em 1.42em 0;
  border-bottom: solid 1px hsl(240, 5%, 91%);
  width: 100%;
}

.accordion__question {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  color: hsl(237, 12%, 33%);
  font-size: 14px;
}

.accordion__question.open {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

.accordion__question:hover {
  color: hsl(14, 88%, 65%);
}

.accordion__answer {
  max-height: 0;
  color: hsl(240, 6%, 50%);
  overflow: hidden;
  padding-right: 1.5em;

  transition: max-height 0.3s linear, margin-top 0.3s linear;
}

.accordion__answer.open {
  margin-top: 1.08em;
}

/*Mobile view*/
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    margin: 30% auto 10%;
  }

  .accordion {
    align-items: center;
    padding: 2em 2em 4em 2em;
  }

  .image__section__desktop {
    display: none;
  }

  .image__section__mobile {
    display: flex;
    justify-content: center;
    position: relative;
  }

  #woman__mobile {
    position: absolute;
    left: 50%;
    top: 0;
    width: 80%;
    max-width: 350px;

    transform: translate3d(-55%, -55%, 0);
  }
  #img__pattern__mobile {
    width: 73.4%;
    /*should use max width, otherwise it gets too big*/
    max-width: 320px;
  }
}
